<div class="container mt-3">
    <div class="row">
        <div class="col-sm-6" ng-repeat="todo in todos">
            <div class="card mt-2 mb-3 border-info">
                <div class="card-header">
                    <strong>Executar em: {{todo.datetime}}</strong>
                </div>
                <div class="card-body text-info">
                    <h4 class="card-title">{{todo.title}}</h4>
                    <p class="card-text">{{todo.description}}</p>
                    <button class="btn btn-success btn-sm">
                        <i class="fa fa-check-square-o"></i> Finalizar
                    </button>
                    <div class="card-text pull-right">
                        <small class="text-muted"><i class="fa fa-info-circle"></i> {{todo.createdBy}}&#64;{{todo.creationDateTime}}</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>